{# templates/slack.j2 #}

{%- macro render_plan(data, date=now) -%}
    {% for day in data if date.strftime('%Y-%m-%d') in day['timestamp'] -%}
        {% for meal in day['meals'] -%}
            - {{ meal['name']['de'] }} ({{ "%.2f €"|format(meal['prices']['employee']) if meal['prices']['employee'] is not none else '??' }})
            {%- for flag in (meal['flags'] or []) %} :mensa-{{ flag.lower() }}:{% endfor -%}
            {{ '\n' }}
        {%- else -%}
            - Überraschungsmenü!
        {%- endfor %}
    {%- else -%}
        keine Einträge :(
    {%- endfor %}
{%- endmacro -%}

Abstimmung bzgl. Mittagsessen heute:

Mensa = :one::
{{ render_plan(mensa) }}

Reimanns = :two::
{{ render_plan(reimanns) }}

Home Office = :three::
send pics!

Pick up Achim = :man-raising-hand:
Pick up Patrizia = :woman-raising-hand:

beep boop
