{# templates/teams.j2 #}

{%- macro render_plan(data, date=now) -%}
    {% for day in data if date.strftime('%Y-%m-%d') in day['timestamp'] -%}
        {% for meal in day['meals'] -%}
            - {{ meal['name']['de'] }} ({{ "%.2f €"|format(meal['prices']['employee']) if meal['prices']['employee'] is not none else '??' }})
            {%- for flag in (meal['flags'] or []) %} :mensa-{{ flag.lower() }}:{% endfor -%}
            {{ '\n' }}
        {%- else -%}
            - Überraschungsmenü!
        {%- endfor %}
    {%- else -%}
        keine Einträge :(
    {%- endfor %}
{%- endmacro -%}
{%- set text -%}
Abstimmung bzgl. Mittagsessen heute:

Mensa = :one::
{{ render_plan(mensa) }}

Reimanns = :two::
{{ render_plan(reimanns) }}

Home Office = :three::
send pics!

Pick up Achim = :man-raising-hand:
Pick up Patrizia = :woman-raising-hand:

beep boop
{%- endset -%}

{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "1.0",
    "body": [
        {
            "type": "ColumnSet",
            "id": "1ede2aba-61b9-faa0-9895-9ed0c26b2e6f",
            "columns": [
                {
                    "type": "Column",
                    "id": "e5756242-0963-37a2-7cb4-4397886d60bb",
                    "padding": "None",
                    "width": "stretch",
                    "items": [
                        {
                            "type": "TextBlock",
                            "id": "20f3833e-0435-5c87-fad1-b528e0046fb6",
                            "text": "Mittagessen-Bot",
                            "wrap": true
                        }
                    ],
                    "verticalContentAlignment": "Center"
                },
                {
                    "type": "Column",
                    "id": "74215a26-fa8b-e549-cced-7f99fd34a661",
                    "padding": "None",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "id": "795047e2-e63e-6e14-07ba-5a3e13323dff",
                            "url": "https://www.werkswelt.de/data/uploads/newsmanager/2024/spengler.png",
                            "size": "Small"
                        }
                    ],
                    "horizontalAlignment": "Right"
                }
            ],
            "padding": {
                "top": "Small",
                "bottom": "Small",
                "left": "Default",
                "right": "Small"
            },
            "style": "emphasis"
        },
        {
            "type": "Container",
            "id": "fbcee869-2754-287d-bb37-145a4ccd750b",
            "padding": "Default",
            "spacing": "None",
            "items": [
                {
                    "type": "TextBlock",
                    "id": "44906797-222f-9fe2-0b7a-e3ee21c6e380",
                    "text": "{{ now }}",
                    "wrap": true,
                    "weight": "Bolder",
                    "size": "Large",
                    "style": "heading"
                },
                {
                    "type": "TextBlock",
                    "id": "f7abdf1a-3cce-2159-28ef-f2f362ec937e",
                    "text": {{ text | tojson }},
                    "wrap": true
                },
                {
                    "type": "Input.Toggle",
                    "id": "fbfff852-b9dd-8141-e61c-a9211cd45378",
                    "title": "Pick up Achim",
                    "value": "false",
                    "wrap": false
                },
                {
                    "type": "Input.Toggle",
                    "id": "b1281dde-beb3-ad80-89f4-43fa8536f7cd",
                    "title": "Pick up Thomas",
                    "value": "false",
                    "wrap": false
                },
                {
                    "type": "Input.Toggle",
                    "id": "92b27a1c-3505-2b38-afe2-bd409437e7e8",
                    "title": "Pick up Patrizia",
                    "value": "false",
                    "wrap": false
                }
            ]
        },
        {
            "type": "Container",
            "id": "77102c5d-fde2-e573-4ea5-66022d646d64",
            "padding": {
                "top": "Small",
                "bottom": "Small",
                "left": "Small",
                "right": "Default"
            },
            "spacing": "None",
            "separator": true,
            "items": [
                {
                    "type": "TextBlock",
                    "id": "42654e7e-cece-b419-867a-3e3ef4076870",
                    "text": "[View in portal](https://www.werkswelt.de/?id=ingo)",
                    "wrap": true,
                    "color": "Accent",
                    "horizontalAlignment": "Right"
                }
            ],
            "horizontalAlignment": "Right"
        }
    ],
    "padding": "None"
}
